* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: brown;
  padding: 0 20px;
}

.lists {
  display: flex;
  padding: ;
}
